body{
    background-color:#E8C872;
}
img:hover {
    transform: scale(1.1); /* Scale up the image slightly on hover */
}
#img{
display:block;
margin:auto;
margin-top:5%;
width:50%;
border-radius: 20px;
}
button {
    margin: 50px; /* Add margin to the buttons */
    padding: 10px 20px; /* Add padding to the buttons */
    background-color:#1f3cf2; /* Set background color */
    color:white; /* Set text color */
    border: none; /* Remove border */
    cursor: pointer;
    height:60px;
    width:auto;
    font-size:1em;
    
}

button:hover {
    background-color: #0056b3; /* Change background color on hover */
}
#previous{
    margin-left:40%;
}
